üöÄ **CockroachDB Lab**

This Jupyter Notebook contains SQL commands to interact with **CockroachDB**.

We will cover **CRUD operations, indexing, transactions, and monitoring commands**

within a **containerized CockroachDB** instance

## **1Ô∏è‚É£ Installing Required Libraries**

We need `psycopg2-binary`, `sqlalchemy`, and `pandas` to connect to CockroachDB and handle queries.

In [1]:
!pip install psycopg2-binary sqlalchemy pandas

Requirement already satisfied: psycopg2-binary in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (2.0.38)
Requirement already satisfied: pandas in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\ahmed\ing-2\s2\data engeneering\newsql\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## **2Ô∏è‚É£ Connecting to CockroachDB**

The following cell establishes a connection with CockroachDB running inside a **Docker container**

Make sure CockroachDB is running before executing this cell.

In [ ]:
import psycopg2
import pandas as pd

# Database connection parameters
host = "localhost"
port = "26257"      # CockroachDB default port
dbname = "defaultdb"  # Replace with your database name
user = "admin"  # Replace with your user
password = "admin"  # Replace with your password
sslmode = "disable"  # Set to "require" if SSL is enabled

# Connect to the database
try:
    conn = psycopg2.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host,
        port=port,
        sslmode=sslmode
    )
    print("Connected to CockroachDB successfully!")
except Exception as e:
    print(f"Connection error: {e}")

# Create a cursor to execute queries
cur = conn.cursor()

Connected to CockroachDB successfully!

## **3Ô∏è‚É£ Creating the `users` Table**

We create a `users` table to store **ID, Name, and Age**.

üîπ `SERIAL PRIMARY KEY` ‚Üí Auto-increments IDs.

üîπ `STRING` ‚Üí Stores names as text.

üîπ `INT` ‚Üí Stores age as an integer.

In [332]:
cur.execute("""
CREATE TABLE IF NOT EXISTS users (
    id SERIAL PRIMARY KEY,
    name STRING,
    age INT
    )
""")
conn.commit()
print("Table created successfully!")

Table created successfully!

## **4Ô∏è‚É£ Inserting Data into `users`**

We insert a new user (`Alice`, `30 years old`).

In [333]:
cur.execute("INSERT INTO users (name, age) VALUES (%s, %s)", ("Alice", 30))
conn.commit()
print("Data inserted successfully!")

Data inserted successfully!

## **5Ô∏è‚É£ Querying Data**

Fetching all records from the `users` table.

In [334]:
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["id", "name", "age"])
df

                    id   name  age
0  1053191606694117377  Alice   30

Updating records from the `users` table.

In [335]:
cur.execute("UPDATE users SET age = %s WHERE name = %s", (35, "Alice"))
conn.commit()
print("Alice's age updated successfully!")

Alice's age updated successfully!

Fetching all records from the `users` table.

In [336]:
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["id", "name", "age"])
df

                    id   name  age
0  1053191606694117377  Alice   35

Adding region column to the `users` table with a default value of `us-east`.

In [337]:
cur.execute("ALTER TABLE users ADD COLUMN region STRING DEFAULT 'us-east'")
conn.commit()
print("Region column added!")

Region column added!

Fetching all records from the `users` table.

In [338]:
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
df = pd.DataFrame(rows)
df

                     0      1   2        3
0  1053191606694117377  Alice  35  us-east

Deleting all records from the `users` table having the value `Alice` in the column `name`.

In [340]:
cur.execute("DELETE FROM users WHERE name = %s", ("Alice",))
conn.commit()
print("Alice deleted successfully!")

Alice deleted successfully!

Fetching all records from the `users` table.

In [341]:
cur.execute("SELECT * FROM users")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["id", "name", "age","region"])
df

Empty DataFrame
Columns: [id, name, age, region]
Index: []

## **6Ô∏è‚É£ Creating the `logs` Table**

The `logs` table records actions performed on the `users` table.

üîπ `user_id` is a **foreign key** linking logs to `users`.

üîπ `timestamp DEFAULT now()` automatically stores when the log entry is created.

In [342]:
cur.execute("""
CREATE TABLE IF NOT EXISTS logs (
    id SERIAL PRIMARY KEY,
    event STRING,
    user_id INT REFERENCES users(id),
    timestamp TIMESTAMP DEFAULT now()
);
""")
conn.commit()
print("Logs table created!")

Logs table created!

## **7Ô∏è‚É£ Creating Indexes for Faster Queries**

Indexes improve query performance, especially for searching logs by `user_id` or `timestamp`.

üîπ `idx_logs_user_id` ‚Üí Optimizes searches on `user_id`.

üîπ `idx_logs_timestamp` ‚Üí Optimizes searches by time (latest logs first).

In [359]:
cur.execute("""
CREATE INDEX IF NOT EXISTS idx_logs_user_id 
ON logs (user_id);
""")
conn.commit()
print("Index on user_id created successfully!")

Index on user_id created successfully!

In [365]:
cur.execute("""
CREATE INDEX IF NOT EXISTS idx_logs_timestamp 
ON logs (timestamp DESC);
""")
conn.commit()
print("Index on timestamp created successfully!")

Index on timestamp created successfully!

In [364]:
cur.execute("SELECT * FROM logs WHERE user_id = 1;")
rows = cur.fetchall()
print(rows)

[]

In [366]:
cur.execute("SELECT * FROM logs WHERE timestamp > now() - INTERVAL '1 day';")
rows = cur.fetchall()
print(rows)

[(1053191718092406785, 'User Created', 1053191718076743681, datetime.datetime(2025, 3, 9, 0, 10, 5, 368569))]

## **8Ô∏è‚É£ Aggregations and Analytics**

These queries count users, find min/max age, and group users by age range.

In [357]:
cur.execute("SELECT MIN(age), MAX(age) FROM users;")
rows = cur.fetchall()
print("Youngest age:", rows[0][0], "Oldest age:", rows[0][1])

Youngest age: 28 Oldest age: 30

In [356]:
cur.execute("SELECT COUNT(*) FROM users;")
rows = cur.fetchall()
print("Total users:", rows[0][0])

Total users: 2

In [358]:
cur.execute("SELECT age, COUNT(*) FROM users GROUP BY age ORDER BY age;")
rows = cur.fetchall()
print(rows)

[(28, 1), (30, 1)]

## **9Ô∏è‚É£ Transactions & Rollbacks**

CockroachDB supports **ACID transactions**.

This test **inserts a user** and a **log entry** together.

If something fails, **everything is rolled back** (no partial updates).

In [344]:
try:
    cur.execute("BEGIN;")
    cur.execute("INSERT INTO users (name, age) VALUES ('Alice', 30) RETURNING id;")
    user_id = cur.fetchone()[0]
    cur.execute("INSERT INTO logs (event, user_id) VALUES ('User Created', %s);", (user_id,))
    cur.execute("COMMIT;")
    print("Transaction committed successfully!")
except Exception as e:
    cur.execute("ROLLBACK;")
    print(f"Transaction failed: {e}")

Transaction committed successfully!

In [345]:
cur.execute("SELECT * FROM logs")
rows = cur.fetchall()
df = pd.DataFrame(rows)
df

,0,1,2,3
0,1053191718092406785,User Created,1053191718076743681,2025-03-09 00:10:05.368569

In [347]:
cur.execute("ALTER TABLE users ADD COLUMN metadata JSONB;")
conn.commit()
print("Metadata column added!")

Metadata column added!

In [348]:
cur.execute("""
INSERT INTO users (name, age, metadata) 
VALUES ('Bob', 28, '{"city": "New York", "hobbies": ["chess", "coding"]}');
""")
conn.commit()
print("Bob inserted successfully!")

Bob inserted successfully!

In [349]:
cur.execute("SELECT name, metadata->>'city' FROM users;")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["name", "city"])
df

    name      city
0  Alice      None
1    Bob  New York

## **üîç 1Ô∏è‚É£0Ô∏è‚É£ System Monitoring & Performance Queries**

CockroachDB provides internal system tables that help monitor **active queries, transactions, and index usage in real time**. 

These queries allow developers and database administrators to analyze database performance, optimize queries, and troubleshoot issues.

 Check the Current User

In [350]:
cur.execute("SELECT current_user;")
print(cur.fetchone()[0])

admin

View Available Databases & Tables

In [351]:
cur.execute("SHOW DATABASES;")
rows = cur.fetchall()
print(rows)

[('bigdata_db', 'root', None, None, [], None), ('defaultdb', 'root', None, None, [], None), ('postgres', 'root', None, None, [], None), ('system', 'node', None, None, [], None)]

In [352]:
cur.execute("SHOW TABLES;")
rows = cur.fetchall()
print(rows)

[('public', 'logs', 'table', 'admin', 0, None), ('public', 'users', 'table', 'admin', 1, None)]

Inspect Table Schema

In [353]:
cur.execute("SHOW COLUMNS FROM users;")
rows = cur.fetchall()
print(rows)

[('id', 'INT8', False, 'unique_rowid()', '', ['users_pkey'], False), ('name', 'STRING', True, None, '', ['users_pkey'], False), ('age', 'INT8', True, None, '', ['users_pkey'], False), ('region', 'STRING', True, "'us-east'", '', ['users_pkey'], False), ('metadata', 'JSONB', True, None, '', ['users_pkey'], False)]

Monitor Active Transactions

In [354]:
cur.execute("SELECT * FROM crdb_internal.node_transactions;")
rows = cur.fetchall()
print(rows)

[('8c97ebcd-935c-4837-90fe-1f86c6fe537b', 1, '182af648fa44cb780000000000000001', datetime.datetime(2025, 3, 8, 23, 15, 3, 48943), '"sql txn" meta={id=8c97ebcd key=/Min iso=Serializable pri=0.03663325 epo=0 ts=1741475703.299853264,0 min=1741475703.299853264,0 seq=0} lock=false stat=PENDING rts=1741475703.299853264,0 wto=false gul=1741475703.799853264,0', '', 1, 0, 0, '', 'SERIALIZABLE', 'normal', 'regular'), ('fef3fe69-bf1d-4ae3-a6f4-6481dfbc0207', 1, '182af9e147c81dae0000000000000001', datetime.datetime(2025, 3, 9, 0, 9, 17, 478192), '"sql txn" meta={id=fef3fe69 key=/Min iso=Serializable pri=0.00475058 epo=0 ts=1741478957.486770894,0 min=1741478957.486770894,0 seq=0} lock=false stat=PENDING rts=1741478957.486770894,0 wto=false gul=1741478957.986770894,0', '', 1, 0, 0, '', 'SERIALIZABLE', 'normal', 'regular'), ('f687c0ae-2629-46c9-ae75-e3557a8c9066', 1, '182af9e4af59c4f40000000000000001', datetime.datetime(2025, 3, 9, 0, 10, 37, 17562), '"sql txn" meta={id=f687c0ae key=/Min iso=Serializable pri=0.04261853 epo=0 ts=1741479037.020732016,0 min=1741479037.020732016,0 seq=0} lock=false stat=PENDING rts=1741479037.020732016,0 wto=false gul=1741479037.520732016,0', '', 6, 0, 0, '', 'SERIALIZABLE', 'normal', 'regular')]

Analyze Index Usage

In [355]:
cur.execute("SELECT * FROM crdb_internal.index_usage_statistics;")
rows = cur.fetchall()
print(rows)

[(120, 2, 6, datetime.datetime(2025, 3, 9, 0, 10, 37, 22382, tzinfo=datetime.timezone.utc)), (121, 1, 1, datetime.datetime(2025, 3, 9, 0, 10, 8, 860660, tzinfo=datetime.timezone.utc))]

View Queries Running on the Cluster

In [320]:
cur.execute("SELECT * FROM crdb_internal.cluster_queries;")
rows = cur.fetchall()
print(rows)

[('182af8593624c9d00000000000000001', '3cf3ecf7-f556-4f56-b773-18e34effa389', 1, '182af7f823e98a540000000000000001', 'admin', datetime.datetime(2025, 3, 8, 23, 41, 7, 976143, tzinfo=datetime.timezone.utc), 'SELECT * FROM crdb_internal.cluster_queries', '172.17.0.1:59308', '', False, 'executing', False, 'AgHa////nxkAAP7/AQAAAAYc', 'defaultdb')]

# Read from Historical Snapshots

CockroachDB allows reading data from the past using time-travel queries. 

The following command retrieves records from the users table as they were 5 seconds ago:

In [346]:
cur.execute("SELECT * FROM users AS OF SYSTEM TIME '-5s';")  # Read slightly old data
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["id", "name", "age","region"])
df

                    id   name  age   region
0  1053191718076743681  Alice   30  us-east

Safe Transactions & Rollbacks

In [318]:
try:
    cur.execute("BEGIN;")
    cur.execute("INSERT INTO users (name, age) VALUES ('Test User', 99);")
    cur.execute("ROLLBACK;")  # This prevents the data from actually being inserted
    print("Transaction rolled back successfully!")
except Exception as e:
    print(f"Transaction failed: {e}")

Transaction rolled back successfully!

Droping Tables

In [2]:
cur.execute("DROP TABLE logs ;")
cur.execute("DROP TABLE users ;")
conn.commit()
print("tables dropped successfully!")

tables dropped successfully!

Resetting Transactions 

When a SQL command fails inside a transaction, CockroachDB automatically blocks further queries until the transaction is rolled back.

In [321]:
conn.rollback()
print("Transaction rolled back. You can now execute new commands.")

Transaction rolled back. You can now execute new commands.

‚úÖ Useful for:

- Fixing blocked transactions caused by previous errors.
- Ensuring queries execute smoothly after an error occurs.
- Avoiding restarting the entire database session.

## **1Ô∏è‚É£1Ô∏è‚É£ Closing Connection to CockroachDB**

The following cell establishes a connection closing with CockroachDB running inside a **Docker container**

In [3]:
cur.close()
conn.close()
print("Connection closed.")

Connection closed.

In [12]:
!docker network create cockroach-network

Error response from daemon: network with name cockroach-network already exists

In [13]:
!docker run -d --name=node1 --hostname=node1 --net=cockroach-network cockroachdb/cockroach start --join=node1,node2,node3 --advertise-addr=node1 --insecure

docker: Error response from daemon: Conflict. The container name "/node1" is already in use by container "1165b1e5247c601f1e3edf6ccaf63979cd19a170c90383bea68c7089978f78cb". You have to remove (or rename) that container to be able to reuse that name.
See 'docker run --help'.

In [4]:
!docker run -d --name=node2 --hostname=node2 --net=cockroach-network cockroachdb/cockroach start --join=node1,node2,node3 --advertise-addr=node2 --insecure

3773369535d4a719e02274d5c602b097de854a210cdc0d4aa5b727d9a127cd12

In [5]:
!docker run -d --name=node3 --hostname=node3 --net=cockroach-network cockroachdb/cockroach start --join=node1,node2,node3 --advertise-addr=node3 --insecure

5833ff126a2f53408fc6da7c147b884cf56ef13756d2cafff7d2b9f634bc3ef1

In [6]:
!docker run --rm --net=cockroach-network cockroachdb/cockroach init --insecure --host=node1

Cluster successfully initialized

In [14]:
!docker exec -it node1 cockroach sql --insecure --host=node1
!CREATE DATABASE test_db;USE test_db;CREATE TABLE users (id SERIAL PRIMARY KEY, name STRING);INSERT INTO users (name) VALUES ('Ahmed'), ('John'), ('Alice');
!SHOW RANGES FROM TABLE users;

the input device is not a TTY.  If you are using mintty, try prefixing the command with 'winpty'
'CREATE' is not recognized as an internal or external command,
operable program or batch file.
'SHOW' is not recognized as an internal or external command,
operable program or batch file.